body{
    margin: 0;
    padding: 0;
}
/*----------------------------HEADER-------------------------*/
header hr{
    width: 650px;
    border-top: 2px solid black; 
    padding: 0px;
}
header ul li {
    border-right: 2px solid black; 
}
header ul li a {
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family:serif;
    font-weight: 600;
}
.ultimo {
    border-right: none;
}
/*-----------------------SECTIONES-----------------*/
section ul li {
    margin: 10px;
}
.hijo1 img{
    width: 60%;
}
.hijo1 hr{
    margin: 10px 47%;
    border-bottom: 2px solid #6c6c6c;
}
.caja{
    font-family: serif;
    font-weight: 600;
    font-size: 28px;
    margin: 0px 20%;
}
.titulo{
    text-align: left;
    margin:0 15%;
    font-size: 25px;
    font-family: serif;
    font-weight: bolder;
}
.datos{
    font-family: serif;
    font-weight: 600;
    color: white;
    margin-top: -30px;
    margin-right: -60px;
}
section hr {
    margin: 0px 80% 0px 15%;
    border-top:6px solid black;
}